.NavBar {
    background-color: #161b21;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    padding: 32px;
    font-size: large;
    font-weight: bolder;
}

/* unvisited link */
a:link {
    color: #fff3b0;
}

/* visited link */
a:visited {
    color: #fff3b0;
}

/* mouse over link */
a:hover {
    color: #fff3b0;
}

/* selected link */
a:active {
    color: #fff3b0;
}